node_modules/
out/
cache/
artifacts/
broadcast/
.env
typechain-types/

# Local deployment artifacts
deployments/localhost/
deployments/localhostBsc/
deployments/localhostBase/
deployments/sepolia/
deployments/bscTestnet/
deployments/baseSepolia/
deployments/hardhat/
deployments/*/solcInputs/
deployments/*/.chainId

# Optional local outputs
coverage/
coverage.json
gasReporterOutput.json
